Repository TroyeXu/taiwan-activity: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

實現收藏模式功能與地圖篩選優化
  app/assets/css/message-custom.css
  app/components/Activity/ActivityCard.vue
  app/components/Activity/ActivityDetailModal.vue
  app/components/Activity/FavoriteButton.vue
  app/components/Activity/FavoritesList.vue
  app/components/Filter/FilterPanel.vue
  app/components/Map/ActivityMap.vue
  app/composables/useActivitiesClient.ts
  app/composables/useFavorites.ts
  app/pages/index.vue
  app/types/index.ts
  nuxt.config.ts
Due: eslint --fix, prettier --write

chore: 修正 linter 格式化
  app/components/Activity/FavoritesList.vue
  app/components/Filter/FilterPanel.vue
  app/composables/useActivitiesClient.ts
  app/composables/useFavorites.ts
  nuxt.config.ts
Due: eslint --fix, prettier --write

統一命名規則：完成 snake_case 到 camelCase 轉換處理
  app/composables/useActivitiesClient.ts
  app/types/index.ts
Due: eslint --fix, prettier --write

清理資料庫：移除未使用的爬蟲和使用者系統
  public/tourism.sqlite
  public/tourism_backup_20250812_141104.sqlite
  scripts/cleanup-database.sql
Due: none

更新資料庫內容：新增 15 個精彩活動
  public/tourism.sqlite
  scripts/update-database.sql
Due: none

新增爬蟲整合支援：資料庫欄位和程式碼更新
  app/composables/useActivitiesClient.ts
  app/types/index.ts
  docs/crawler-integration-guide.md
  docs/crawler-simple-guide.md
  public/tourism.sqlite
  scripts/add-crawler-fields.sql
  scripts/prepare-for-crawler.sql
Due: eslint --fix, prettier --write

Update README and deployment docs
  README.en.md
  README.md
  docs/deployment-and-data-management.md
Due: prettier --write

Refine lint-staged scope
  .lintstagedrc.json
  .prettierignore
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --write: (any of: *.{js,ts,vue}) or (any of: *.{json,md,css,scss})
